<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
<pre>
  data (disable欄位"不"會被移除) = {{ data | json }}
  form1.value (disable欄位會被移除) = {{ form1.value | json }}
  form1.submitted (表單是否被送出過) = {{ form1.submitted }}
  form1.errors (ngForm沒有errors可以顯示，雖有此property) = {{ form1.errors | json }}
  mEmail.value = {{ mEmail.value  }}
  mEmail.status = {{ mEmail.status }}
  mEmail.pristine (未改過) = {{ mEmail.pristine }}
  mEmail.dirty (已改過) = {{ mEmail.dirty }}
  mEmail.touched (已點過) = {{ mEmail.touched }}
  mEmail.untouched (未點過) = {{ mEmail.untouched }}
  mEmail.enabled (啟用) = {{ mEmail.enabled }}
  mEmail.disabled (停用) = {{ mEmail.disabled }}
  mEmail.valid (有效欄位) = {{ mEmail.valid }}
  mEmail.invalid (無效欄位) = {{ mEmail.invalid }}
  mEmail.errors (錯誤訊息) = {{ mEmail.errors | json }}
</pre>
                <form class="user" #form1="ngForm" (ngSubmit)="doSubmit(form1)">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                        id="exampleInputEmail" aria-describedby="emailHelp"
                        placeholder="Enter Email Address..."
                        [class.is-invalid]="mEmail.dirty && mEmail.invalid"
                        [(ngModel)]="data.email" name="email"
                        #mEmail="ngModel"
                        required
                        email>
                      <ul [class.invalid-feedback]="mEmail.touched && mEmail.invalid">
                        <li *ngIf="mEmail.errors.required">請輸入電子郵件信箱</li>
                        <li *ngIf="mEmail.errors.email">請輸入合法的 E-mail格式</li>
                      </ul>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                      id="exampleInputPassword" placeholder="Password"
                      [(ngModel)]="data.password" name="password"
                      #mPassword="ngModel">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input"
                        id="customCheck"
                        [(ngModel)]="data.rememberMe" name="rememberMe"
                        #mRememberMe="ngModel">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
