<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
<pre>data = {{ data | json }}
              form.value = {{ form.value | json }}
              form.status = {{ form.status }}
              form.pristine = {{ form.pristine }}
              form.dirty = {{ form.dirty }}
              form.touched = {{ form.touched }}
              form.untouched = {{ form.untouched }}
              form.enabled = {{ form.enabled }}
              form.disabled = {{ form.disabled }}
              form.valid = {{ form.valid }}
              form.invalid = {{ form.invalid }}
              form.errors = {{ form.errors | json }}
              f.submitted = {{ f.submitted }}
</pre>
            <form class="user" [formGroup]="form" #f="ngForm" (ngSubmit)="doSubmit(f)">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user"
                         placeholder="First Name"
                         [class.is-invalid]="isInvalid('email')"
                         formControlName="email">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user"
                         placeholder="Last Name"
                         [class.is-invalid]="isInvalid('lastName')"
                         formControlName="lastName">
                </div>
              </div>
<pre>
  fc('email').value = {{ fc('email').value }}
  fc('email').status = {{ fc('email').status }}
  fc('email').pristine = {{ fc('email').pristine }}
  fc('email').dirty = {{ fc('email').dirty }}
  fc('email').touched = {{ fc('email').touched }}
  fc('email').untouched = {{ fc('email').untouched }}
  fc('email').enabled = {{ fc('email').enabled }}
  fc('email').disabled = {{ fc('email').disabled }}
  fc('email').valid = {{ fc('email').valid }}
  fc('email').invalid = {{ fc('email').invalid }}
  fc('email').errors = {{ fc('email').errors | json }}
</pre>
              <div class="form-group">
                <input type="email" class="form-control form-control-user"
                        placeholder="Email Address"
                        [class.is-invalid]="isInvalid('email')"
                        formControlName="email">
                <ul [class.invalid-feedback]="isInvalid('email')"
                        *ngIf="fc('email').touched && fc('email').invalid">
                     <li *ngIf="fc('email').errors.required">請輸入電子郵件信箱</li>
                     <li *ngIf="fc('email').errors.email">請輸入合法的 E-mail 格式</li>
                </ul>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user"
                         placeholder="Password"
                         [class.is-invalid]="isInvalid('password')"
                         formControlName="password">
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user"
                         placeholder="Repeat Password"
                         [class.is-invalid]="isInvalid('repeatPassword')"
                         formControlName="repeatPassword">
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block"> Register Account </button>
              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook </a>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
